<%= form_with model: [ @article, @article.comments.build ] do |form| %>

  <%= form.text_field :author, type: 'hidden', value: current_user.username %>

  <div class="mb-3">
    <%= form.text_area :body, class:"form-control", rows:"3" %>
  </div>

  <%= form.button class:"btn btn-primary" %>

<% end %>