<h1>Articles</h1>

<% @articles.each do |article| %>

  <h3><%= link_to article.title, article %></h3>

  <p> <%= article.text %></p>

<% end %>
<br />
<hr />
<% if user_signed_in? %>
  <%= link_to 'New Article', new_article_path %>
<% end %>