<p>Welcome <%= @email %>!</p>

<div class="mb-3">
  <p>You can confirm your account email through the link below:</p>
</div>

<div class="mb-3">
  <%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token), class: "btn btn-outline-success" %>
</div>